<div id = "tasks-navbar">
  <ul>
    <li><%= link_to 'New Task', new_task_path %></li>
  </ul>
</div>

<div id = "tasks-list">

  <h3 class="tasks-list-header">In Progress</h3>
  <table class="tasks-list-section">
    <%= render @in_progress_tasks, :task_status => :InProgress %>
  </table>
 
  <h3 class="tasks-list-header">Open</h3>
  <table class="tasks-list-section">
    <%= render @open_tasks, :task_status => :Open %>
  </table>

  <h3 class="tasks-list-header">Done</h3>
  <table class="tasks-list-section">
    <%= render @done_tasks, :task_status => :Done %>
  </table>
</div>
