/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

form, div {
    display: inline;
}

.main {
    background-color: rgb(239, 233, 183);
}

#tasks-navbar {
    position: absolute;
    left: 0px;
    right: 0px;
    height: 40px;
    top: 0px;
    background-color: rgb(68, 68, 68);

    ul {
        list-style-image: none;
        list-style-type: none;

        li {

            a {
                background-color: rgba(0,0,0,0);
                float: left;
                text-align: left;
                font-size: 14px;
                font-style: normal;
                font-weight: normal;
                color: white;
                padding-right: 44px;
            }
        }
    }
}

#tasks-list {
    font-family: 'Quattrocento Sans', sans-serif;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    cellspacing: none;
    border-collapse: collapse;
    border: none;
    text-align: left;
}

.tasks-list-item {
    padding-left: 44px;
    padding-right: 44px;

    td {
        font-size: 18px;
        #font-family: 'Neucha';
    }
}

.tasks-list-header {
    background-color: rgb(224, 218, 171);
    margin-top: 0px;
    margin-bottom: 0px;
}
 
.tasks-list-section {

}

.tasks-list-section-row {

}

.tasks-list-section-row-priority {
    width: 24px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
}

.tasks-list-section-row-description {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}

.tasks-list-item-buttons {
    margin: 0px, 0px, 0px, 0px;
    padding: 0px, 0px, 0px, 0px;
    width: 130px;
    color: red;
    float: right;
}
